.tile{
  width: 11%;
  height: 50px;
  border: 2px solid black;
  display: inline-block;
}

.tile > div {
  height: 100%;
  width: 100%;
  text-align: center;
}

.mine{
  background-color: red;
}

.flipped{
  background-color: green;
}

.exploded{
  border: 5px solid pink;
}


