.tile{
  width: 12.375%;
  height: 50px;
  display: inline-block;
  outline: 1px solid black;
}

.tile > div {
  height: 100%;
  width: 100%;
  text-align: center;
}

.flipped{
  color: black;
}

.exploded{
  outline: 5px solid pink;
}

.untouched{
  color: white;
}

.flagged{
  background-color: blue;
  color: blue;
}

.winner{
  color: green;
}

.loser{
  color: red;
}


